extends base

block content
  h3= "Add an author"
  form(action="/authors/add" method="POST")
    div Name:
      input(type="text" name="name" placeholder="")
    div Birth Year:
      input(type="text" name="yearBorn" placeholder="")
    input(type="submit")
  h3= "All authors"
  table
    thead
      tr
        th ID
        th Name 
        th Year Born
        th Edit
        th Delete
    each item in items
      tr
        td=item.AuthorID
        td=item.Name
        td=item.YearBorn
        td="Edit"
        td
          form(action="/authors/remove" method="POST")
            input(type="hidden" name="removed" value=item.id)
            input(type="submit" value="Remove")