extends base

block content
  h3= "Add a book:"
  form(action="/books/add" method="POST")
    table
      tr
        td Title
        td
          input(type="text" name="Title" placeholder="")
      tr
        td Author
        td(id="authorselect")
          select(name="AuthorID")
            each author in authors
              option(value=author.AuthorID)=author.Name
      tr
        td Year Released
        td
          input(type="text" name="Year" placeholder="")
      tr
        td Copies in Stock
        td
          input(type="text" name="Copies" placeholder="")
    input(type="submit")
  h3= "All books:"
  table
    thead
      tr
        th ID
        th Title 
        th Author
        th Release Year
        th Copies Total
        th Copies Checked Out
        th Edit
        th Delete
    each item in items
      tr(id= "row" + item.BookID)
        td=item.BookID
        td=item.Title
        td=item.AuthorName
        td=item.Year
        td=item.Copies
        td=item.CheckedOut
        td
          input(type="button" value="Edit" onclick='edit(' + item.BookID + ', "' + item.Title + '", "' + item.AuthorName + '", ' + item.Year + ', ' + item.Copies + ', ' + item.CheckedOut + ')')
        td
          form(action="/books/remove" method="POST")
            input(type="hidden" name="BookID" value=item.id)
            input(type="submit" value="Remove")
  script.
    function edit(id, title, author, year, copies, checkedout)
    {
      var tr = document.getElementById("row" + id);
      var authorselect = document.getElementById("authorselect");
      tr.innerHTML=`
              <input type="hidden" form=` + id + `" name="BookID" value= ` + id + `>
              <td>` + id + `</td>
              <td><input type="text" form="` + id + `" name="Title" value="` + title + `"></td>
              <td>` + authorselect.innerHTML + `</td>
              <td><input type="text" form="` + id + `" name="Year" value="` + year + `"></td>
              <td><input type="text" form="` + id + `" name="Copies" value="` + copies + `"></td>
              <td></td>
              <td><form action="/books/edit" method="POST" id="` + id + `"><input type="submit"></form>
              <button onClick="window.location.reload();">Cancel</button></td>
              <td><input type="submit" value="Remove" disabled></td>
      `


    }