extends base

block content
  h3= "Add a book:"
  form(action="/books/add" method="POST")
    div Title:
      input(type="text" name="Title" placeholder="")
    div Author:
      select(name="Author")
        each author in authors
          option(value=author.AuthorID)=author.Name
    div Year Released:
      input(type="text" name="Year" placeholder="")
    div Copies in Stock:
      input(type="text" name="Copies" placeholder="")
    input(type="submit")
  h3= "All books:"
  table
    thead
      tr
        th ID
        th Title 
        th Author
        th Release Year
        th Copies Total
        th Copies Checked Out
        th Edit
        th Delete
    each item in items
      tr
        td=item.BookID
        td=item.Title
        td=item.AuthorName
        td=item.Year
        td=item.Copies
        td=item.CheckedOut
        td="Edit"
        td
          form(action="/books/remove" method="POST")
            input(type="hidden" name="Removed" value=item.id)
            input(type="submit" value="Remove")