extends base

block content
  form(action="/book/add" method="POST")
    div Title:
      input(type="text" name="title" placeholder="")
    div Author:
      input(type="text" name="author" placeholder="")
    input(type="submit")
  h2= "Books"
  table
    thead
      tr
        th ID
        th Title 
        th Author
        th Date Added
        th Delete
    each item in items
      tr
        td=item.id
        td=item.title
        td=item.author
        td=moment(item.date_added).format("YYYY/MM/DD HH:mm")
        td
          form(action="/book/remove" method="POST")
            input(type="hidden" name="removed" value=item.id)
            input(type="submit" value="Remove")